<div class="footer">
  <div class="footer-left">
    <ul>
      <h3>About us</h3>
      <li>Our Mission</li>
      <li>Press</li>
      <li>Career</li>
    </ul>
  </div>
  <div class="footer-mid">
    <ul>
      <h3>Connect with us</h3>
      <li><fa-icon [icon]="fb"></fa-icon></li>
      <li><fa-icon [icon]="twit"></fa-icon></li>
      <li><fa-icon [icon]="inst"></fa-icon></li>
      <li><fa-icon [icon]="yout"></fa-icon></li>
      <li><fa-icon [icon]="pint"></fa-icon></li>
    </ul>
  </div>
  <div class="footer-right">
    <ul>
      <h3>Help</h3>
      <li>Help Center</li>
      <li>Community Guideline</li>
    </ul>
  </div>
</div>
