.footer {
  display: flex;
  justify-content: space-around;
  ul {
    list-style: none;
    text-align: center;
    li{
      margin: 4px;
    }
  }
  .footer-mid{
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
fa-icon {
  color: rgba($color: #f7bec0, $alpha: 0.8);
  font-size: larger;
}
