<ul class="side-nav">
  <li matRipple>
    <a><fa-icon [icon]="faHome"></fa-icon> Home</a>
  </li>
  <li><fa-icon [icon]="faStar"></fa-icon> Bakeries</li>
  <ul>
    <li matRipple><a> Cakes </a></li>
    <li matRipple><a> Cookies </a></li>
    <li matRipple><a> Sweets </a></li>
    <li matRipple><a> Pastries </a></li>
  </ul>
  <li><fa-icon [icon]="faSnow"></fa-icon> Drinks</li>
  <ul>
    <li matRipple><a>Fruit Juice</a></li>
    <li matRipple><a>Soda Drinks </a></li>
    <li matRipple><a>Shakes</a></li>
    <li matRipple><a>Coffee</a></li>
  </ul>
  <li matRipple><fa-icon [icon]="faComment"></fa-icon><a> Contact Us</a></li>
</ul>
