/* You can add global styles to this file, and also import other style files */
$primary-bg-color: #e9eae0;
$secondary-bg-color: #f7bec0;
$primary-color: #c85250;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
  border-color: $secondary-bg-color;
}

.btn {
  display: inline-block;
  background: #f7bec0;
  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
