.login-backdrop{
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .6);
    height: 100%;
    width: 100%;
    top: 0px;
    .login-container{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: beige;
        top: 20%;
        left: 50%;
        width: calc(min(300px, 30%));
        height: calc(min(500px, 50%));
        transform: translateX(-50%);
        place-items: center;
        justify-content: space-evenly;
        border-radius: 10px;
        border: black solid 2px;
        // .form-inputs{
        //     padding: 20px;
        //     margin: 5px;
        // }
    }
}