<div class="login-backdrop">
    <form class="form-login">
        <div class="login-container">
            <div class="form-inputs">
                <label for="username">Username: </label>
                <input id="username" type="text" placeholder="Username" required>
            </div>
            <div>
                <label for="password">Password </label>
                <input id="password" type="password" placeholder="Username" required>
            </div>
            <div>
                <button >Login</button>
            </div>
        </div>
        <div>
            <a>Trouble logging in?</a>
            <a>New User?</a>
        </div>
    </form>
</div>