<div class="login-backdrop">
    <form class="form-login">
        <div class="login-container">
            <div class="form-inputs">
                <label for="username">Username: </label>
                <input id="username" type="text" placeholder="Username" required>
            </div>
            <div class="form-inputs">
                <label for="password">Password </label>
                <input id="password" type="password" placeholder="Password" required>
            </div>
            <div class="form-inputs login-section">
                <div class="form-inputs">
                    <button >Login</button>
                    <button >Cancel</button>
                </div>
                <a>Trouble logging in?</a>
                <a>New User?</a>
            </div>
        </div>
    </form>
</div>