.content {
    display: flex;
    justify-content: space-around;
    flex: 1 1 175px;
    flex-wrap: wrap;
    margin: 5px;
    margin-bottom: 2rem;
    
    .content-heading{
        position: absolute;
        top: 4rem;
        left: 10;
      }
      .card {
        display: flex;
        flex-direction: column;
        width: clamp(260px, 50%, 310px);
        align-items: center;
        
      }
  }