.content {
  display: flex;
  flex: 1 1 175px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  .card {
    display: flex;
    border-radius: 10px;
    width: clamp(240px, 50%, 310px);
    height: 350px;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;
    background-color: chocolate;
    img {
      align-self: center;
      border-radius: 10px;
      width: 150px;
      height: 175px;
    }
  }
}
