<div class="content">
  <div class="card">
    <h4>Heading 1</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis,
      exercitationem modi quisquam consectetur necessitatibus reprehenderit?
    </p>
  </div>
  <div class="card">
    <h4>Heading 1</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis,
      exercitationem modi quisquam consectetur necessitatibus reprehenderit?
    </p>
  </div>
  <div class="card">
    <h4>Heading 1</h4>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis,
      exercitationem modi quisquam consectetur necessitatibus reprehenderit?
    </p>
  </div>
</div>
