<div class="parent">
  <div class="head">
    <div class="logo">
      <h1>Bakery House</h1>
    </div>
    <div class="search">
      <label for="search-bar"><fa-icon [icon]="faSearch"></fa-icon></label>
      <input type="text" id="search-bar" placeholder="Search"/>
    </div>
    <div class="head-menu">
      <ul>
        <li matRipple [matRippleColor]="'rgba(200,82,80,.4)'">
          <a><fa-icon [icon]="faCart"></fa-icon> My Cart</a>
        </li>
        <li matRipple [matRippleColor]="'rgba(200,82,80,.4)'">
          <a><fa-icon [icon]="faCheckout"></fa-icon> Checkout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="left" [ngClass]="sideNavState ? '' : 'left-collapsed'">
    <app-side-nav></app-side-nav>
  </div>
  <div class="main">
    <div class="sub-heading">
      <button
        class="btn"
        (click)="toggleSideNav()"
        matRipple
        [matRippleColor]="'rgba(200,82,80,.4)'"
      >
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <h2>Hot & Fresh</h2>
    </div>
    <app-content></app-content>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
