<div class="parent">
  <div class="head">
    <div class="logo">
      <h1>Bakery House</h1>
    </div>
    <div class="head-menu">
      <ul>
        <li matRipple [matRippleColor]="'rgba(200,82,80,.4)'">
          <a>My Cart</a>
        </li>
        <li matRipple [matRippleColor]="'rgba(200,82,80,.4)'">
          <a>Checkout</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="left" [ngClass]="sideNavState ? '' : 'left-collapsed'">
    <app-side-nav></app-side-nav>
  </div>
  <div class="main">
    <button class="btn" (click)="toggleSideNav()" matRipple [matRippleColor]="'rgba(200,82,80,.4)'">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <app-content></app-content>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
