<div class="parent">
  <div class="head">
    <div class="logo">
      <h1>Bakery House</h1>
    </div>
    <div class="head-menu">
      <ul>
        <li><a>My Cart</a></li>
        <li><a>Checkout</a></li>
        <li><a></a></li>
      </ul>
    </div>
  </div>
  <div class="left" [ngClass]="sideNavState ? '' : 'left-collapsed'">
    <app-side-nav></app-side-nav>
  </div>
  <div class="main">
    <button class="btn" (click)="toggleSideNav()">Side Nav</button>
    <app-content></app-content>
  </div>
  <div class="footer">
    <p>footer works!</p>
  </div>
</div>
