.parent {
  display: grid;
  grid-template: auto 1fr auto/ auto 1fr;
  gap: 1px;
  .head {
    background-color: gray;
    grid-column: 1 / 3;
    text-align: left;
    padding-left: 2rem;
  }
  .right {
    background-color: green;
  }
  .left {
    background-color: blue;
    width: 250px;
    opacity: 1;
    transition: all 0.8s ease-out;
  }
  .left-collapsed {
    margin-left: -250px;
    opacity: 0;
  }
  .footer {
    background-color: khaki;
    grid-column: 1/3;
  }
  .main {
    background-color: red;
  }
}
