.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 80%;
  background-color: #c85250;
  .details-image {
    display: flex;
    height: 220px;
    margin: 10px;
    justify-content: space-around;
    img {
      border-radius: 10px;
      width: clamp(220px, 50%, 400px);
      height: clamp(220px, 50%, 420px);
    }
  }
}
