.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .details-image{
        width: 280px;
        height: 200px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}